@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <ul class="nav flex-column" ">
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="ciudad">
                <span aria-hidden="true"></span>
                Ciudad
            </NavLink>
        </li>
    </ul>


</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
